body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: lighter;
  padding-bottom: 10px;
}
.subtitle {
  text-decoration: underline;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
}
.top-cloud {
  width: 220px;
  position: absolute;
  right: 340px;
  top: 50px;
}
.bottom-cloud {
  width: 220px;
  position: absolute;
  left: 195px;
  bottom: 300px;
}
.mountain {
  padding-bottom: 0px;
  position: relative;
  width: 970px;
  height: 370px;
}
.middle-container {
  margin: 100px 0;
}
.profile-pic {
  width: 250px;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}
.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
}
.web-dev {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cooking {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.linkedin {
  margin-right: 10px;
}
.twitter {
  margin-left: 20px;
  margin-right: 20px;
}
.instagram {
  margin-left: 5px;
}
.last {
  margin-bottom: 50px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.footer {
  color: white;
  padding: 20px 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
